@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.submenu-container {
    /* border: 1px solid grey;
    border-collapse: collapse;
    width: fit-content;
    padding: 13px 0px; */
    bottom: 20px;
    position: fixed;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    width: 100%;
    max-width: 570px;
    letter-spacing: 1px;
    z-index: 99996;
    font-family: Jost, sans-serif;
    border: 1px solid rgb(231, 231, 236);
    border-radius: 4px;
    box-shadow: rgb(140 152 164 / 10%) 0px 8px 15px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    justify-content: space-around;
    visibility: hidden;
}

.submenu-container img {
    width: auto;
    height: 26px;
    filter: invert(50%) sepia(20%) saturate(259%) hue-rotate(169deg)
        brightness(97%) contrast(88%);
}

.submenu-container a {
    /* display: inline-block; */
    color: white;
    color: grey;
    color: rgb(119, 131, 143);
    text-decoration: none;
    font-size: 13px;
    font-family: 'Jost', sans-serif;
    margin: auto 0;
}

.submenu-container span {
    font-size: 11px;
    font-family: 'Jost', sans-serif;
}

.submenu-container {
    /* margin-inline: 2em; */
    display: flex;
    flex-direction: row;
}

.submenu-content {
    /* display: flex;
    flex-direction: row; */
    font-family: Jost, sans-serif;
    padding: 13px 0px;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    transition: all 0.12s ease 0s;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.submenu-content i {
    margin-right: 12px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.submenu-icon {
    margin-right: 12px;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.submenu-content1 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .submenu-container {
        visibility: visible;
    }
}
