@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.video {
    background: linear-gradient(
        to bottom,
        #f7f2ee 0%,
        #f7f2ee 50%,
        white 50%,
        white 100%
    );
}
.video-container {
    background-image: linear-gradient(
            0deg,
            rgba(24, 63, 99, 0.4),
            rgba(24, 63, 99, 0.4)
        ),
        url('https://demo.createdbycocoon.com/moodle/skola/1/theme/skola/images/skola/video/bg-1.jpg');
    height: 15rem;
    /* width: 90%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    animation-name: scale-in;
    animation-duration: 0.5s;
    max-width: 1170px;
    margin: 2rem 14px 4rem 14px;
}

.video-background {
    width: 100%;
    height: 100%;
    padding: 3px 0px;
    color: white;
    position: relative;
}

.video-content {
    padding: 0 25px;
    text-align: center;
    margin-top: 10%;
}

.video-content h2 {
    font-size: 30px;
    font-family: 'Lora', serif;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.05;
    animation: openclose 1s ease-in-out;
}
/* @keyframes openclose {
  0% {
    text-align: center;
    width: 0;
  }
  100% {
    width: 500px;
  }
}  */

.video-content p {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    margin: 0;
}

.video-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    top: 1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.video-btn svg {
    height: 17px;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .video-container {
        height: 25rem;
        /* width: 88%; */
        margin-inline: 3rem;
    }
    .video-content {
        position: relative;
        top: 14%;
    }
    .video-content h2 {
        font-size: 35px;
    }
    .video-content p {
        font-size: 18px;
    }
    .video-btn {
        width: 70px;
        height: 70px;
        top: 2rem;
    }
    .video-btn svg {
        height: 24px;
        width: 21px;
    }
}

@media (min-width: 1024px) {
    .video-container {
        height: 35rem;
        /* width: 90%; */
        margin-inline: 5rem;
    }
    .video-content {
        top: 15%;
    }
    .video-btn {
        width: 90px;
        height: 90px;
    }
    .video-btn svg {
        height: 31px;
        width: 27px;
    }
}

@media (min-width: 1025px) {
    .video-container {
        height: 40rem;
        /* width: 80%; */
        max-width: none;
        margin: 0;
        margin-inline: 6rem;
    }
    .video-content {
        top: 15%;
    }
    .video-btn {
        width: 90px;
        height: 90px;
    }
    .video-btn svg {
        height: 31px;
        width: 27px;
    }
}
